/* *{
    padding: 0;
    margin:0 ;
    box-sizing: border-box;
} */
body{
    background-image: linear-gradient(red,white);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    height: 100vh;
    text-align: center;
}

h1{
    font-size: 3rem;
    font-family: cursive;
}
span{
    font-size: 2rem;
}
button{
    background-color: black;
    color: aliceblue;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    margin: 1rem;
}